.item {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.image {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
